a {color:#333;}
body {background:#efeff4;}
li {list-style-type:none;}
.display-box{display: -webkit-box;display: -ms-flexbox;display: -moz-box; width:100%;}
.box-flex {box-flex:1;-moz-box-flex:1;-webkit-box-flex:1; }
.star {display:inline-block; width:81px;background: url("../images/star-off.png") 0 2px repeat-x;}
.star span{background: url("../images/star-on.png") 0 2px repeat-x;display: inline-block;height: 20px;vertical-align: top;}
.d-ib {display:inline-block;}
.nav-tabs {padding-right:0;}
.tab-content {background:#fff;}
.nav-tabs>li>a {margin-right:0;}
.btn-danger.active, .btn-danger.focus, .btn-danger:active, .btn-danger:focus, .btn-danger:hover, .open>.dropdown-toggle.btn-danger
{outline:0;}
.btn.get-confirm-time {background:#777;border:1px solid #777;}

/*-- table1 --*/
.table1 {margin-bottom:0;}
.table1 tr td:first-child{padding-left:15px;}
.table1 tr td:last-child {padding-right:15px;}
.table1 .sp1 {color:#f60;}
.table1 .price {font-weight: bold;font-size: 18px;text-align: right;}

/*-- modal --*/
.modal.fade .modal-dialog {-webkit-transition: -webkit-transform .3s ease-out;-o-transition: -o-transform .3s ease-out;transition: transform .3s ease-out;-webkit-transform: scale(0.2);-ms-transform: scale(0.2);-o-transform: scale(0.2);transform: scale(0.2); }
.modal.in .modal-dialog {-webkit-transform: scale(1);-ms-transform: scale(1);-o-transform: scale(1);transform: scale(1);}

/*-- container-header  --*/
.container-header {background:#f7f7f8; height:50px; line-height:50px; border-bottom:1px solid #c8c7cc; margin-bottom:15px;}
.container-header .title1 {box-flex:1;-moz-box-flex:1;-webkit-box-flex:1; font-size:18px;  text-align:center; line-height:50px; font-weight:bold;}
.container-header .user img{width:30px; height:30px;}

/*-- form-ground --*/
.form-ground {background:#fff;border-bottom:1px solid #c8c7cc; margin-left:-15px; margin-right:-15px; padding:15px;position:relative;}
.file-phone .img{position:relative;width:auto; height:inherit; margin:0 auto; margin-bottom:0px; text-align: center;}
.file-phone .img img{  max-width: 100%; height: 150px;}
.file-phone .p1 {margin-top: 10px;}
#photo {position:absolute;width:100%;top:0; bottom:0;opacity:0;}
.file-phone .p1 {text-align:center;font-weight:bold;}
.file-phone .p1 .sp1 {font-weight:normal;font-size:12px;}
.form-ground .lb1{padding-top:6px;margin-right:10px;}
.form-ground-question textarea{height:80px;}
.container-ct {box-shadow:0 0 5px rgba(0, 0, 0, 0.14); background:#fff;}

/*-- container-call-seller --*/
.container-call-seller {}
.container-call-seller .p1 {padding:15px;border-bottom:1px solid #ddd;}
.list-tel li {line-height:48px;border-bottom:1px solid #ddd;padding-left:15px;padding-right:15px;}
.list-tel li .glyphicon {margin-right:5px;}

/*-- container-chl --*/
.container-chl {background: transparent;box-shadow:0 0 0px #A16534;}
.container-chl .tab-content {background:#fff; border:1px solid #ddd; border-top:0;}

.item-list-chl {background:#fff;border-bottom:1px solid #ddd;padding-left: 15px;padding-right: 15px;padding-top: 3px;padding-bottom: 3px;-webkit-box-align: center;-moz-box-align:center;box-align: center;}
.item-list-chl .open>.dropdown-menu {display: block;min-width: inherit;}

.item-list-chl > div {width:25%; line-height:22px; text-align:center;}
.item-list-chl .name {text-align:left; }
.item-list-chl .btn-group {top: -2px;}
.container-chl .nav-tabs li {width:50%; text-align:center;}
.container-chl .nav-tabs {padding-right:0;}
.container-chl .nav-tabs>li>a {margin-right:0;}

.item-list-chl .control {text-align:right;}

/*-- container-comhp --*/
.container-bannar {margin-top: -15px;}
.container-comhp {background: transparent; box-shadow:none;padding-bottom: 44px;}
.comhp-hd {padding-top:15px; font-size:16px; font-weight:bold; padding-bottom:15px; }
.item-comhp {background:#fff;box-shadow:0 0 5px rgba(0, 0, 0, 0.14); background:#fff; }
.item-comhp .user {padding-top:15px; position:relative; overflow:hidden;}
.item-comhp .name {margin-left: 63px;line-height: 2;}
.item-comhp .name .d1 {color:coral; font-weight:bold;}
.item-comhp .msg {font-size:12px;padding-top:10px;padding-bottom:10px;}
.item-comhp .name .zs .sp1,
.item-comhp .long .sp1,
.item-comhp .msg .sp1
{color:coral;}
.item-comhp .long {position:absolute;right:10px; top:15px;}
.item-comhp .img-ground{overflow:hidden;text-align: left;}
.item-comhp .img-ground img {display: inline-block;width: 90px;float: none;margin: 0 0px;}
.item-comhp .bar {padding-top:15px;padding-bottom:15px; }
.item-comhp .bar a{display:inline-block;width:33.33%; border:0px solid #ddd; text-align:center; font-size:12px; color:coral; text-decoration:none;border-left:0; padding-top:5px; padding-bottom:5px;}
.item-comhp .bar .glyphicon {margin-right: 5px}
.item-comhp .bar a:first-child {border-left:0px solid #ddd;}
.item-comhp .time {position: absolute;right: 10px;font-size: 12px;color: #999;top: 45px;}

.item-comhp-rp .rptxt{font-size:12px; padding-top:15px; padding-bottom:15px;}
.item-comhp-rp .name {padding-top:12px;}
.item-comhp-rp .del {position:absolute; top:15px; right:15px;}
.item-comhp-rp .rep-btn {text-align:right;}
.comhp-send-msg {position:fixed;bottom:0;padding-top:10px; background:#efeff4; padding-top:10px;   }

.modal-header .close {margin-top:-8px;}

/*-- container-comhp-detail --*/

.comhp-nav {overflow:hidden;position:fixed;bottom:0; left:0;right:0;width:100%;}
.comhp-nav a{width:25%;float:left;height:30px; line-height:30px; text-align:center; text-decoration:none;background:#fff;border-left:1px solid #ddd; color:coral;font-size:12px;border-top:1px solid #ddd;}
.comhp-nav a:first-child {margin-left:0;}

.modal-comhp .p1{margin-bottom:10px;}

/*-- swiper-container --*/
.swiper-container {height:190px;}

/*-- .container-idt1  --*/
body.item-detail-type1 .comhp-nav a{width:50%;}

.container-idt1 {padding-bottom:50px;}
.container-idt1 {background:#fff;}
.container-idt1 .comhp-hd {border-bottom:1px solid #ddd;}

/*-- top-list-btn --*/
.top-list-btn {position: absolute;top: 1px;left: 40px;font-size: 23px;cursor: pointer;}

/*-- item-idt1 --*/
.item-idt1 {padding:15px;border-bottom:1px solid #ddd; overflow:hidden;}
.item-idt1 .d1 {margin-bottom:10px;}
.item-idt1 .price {display:inline-block;background:#4BD963;border-radius:50%; color:#fff;font-size:30px;box-sizing:border-box; padding-left:10px;padding-right:10px;}
.item-idt1-price .d1 {line-height:40px;}

.item-idt1-size a{width:auto;margin-right:10px;margin-bottom:10px;}
.item-idt1-size {padding-bottom:5px;}

.count-ground {position: relative;height: 34px;width: 104px;}
.count-ground a{display:inline-block;width:25px; height:25px;background:#4BD963;border-radius:50%; text-align:center;color:#fff; text-decoration:none;position: absolute;left: 0px;top: 4px; font-size:16px; font-weight:bold;}
.count-ground a .glyphicon {top:3px;}
.count-ground a.add .glyphicon {left:1px;}
.count-ground a.add {left:78px;}
.count-ground a.sub {left:0px;}
.count-ground .form-control {width: 41px;margin-left: 30px;margin-right: 30px;}

.item-idt1-count .d1 {margin-bottom:0; margin-top:10px;}

/*-- list-pro-item --*/
.list-pro-item {border-bottom:1px solid #ddd; position:relative; padding:15px;}
.list-pro-item:last-child {border-bottom:0;}
.list-pro-item .img {width:71px; height:71px; border-radius:5px; overflow:hidden;}
.list-pro-item .msg{margin-left: 81px;font-size: 14px;padding-right: 56px;}
.list-pro-item .btn-buy {position:absolute;right:15px; bottom:15px;}
.list-pro-item .price {color:red;}
.list-pro-item .msg h3 {font-size:16px; font-weight:bold;margin-bottom:5px; padding-top:3px;}
.list-pro-item .p1 {margin-bottom:3px;}
.list-pro-item .p2 .sp1 {margin-right:10px;}
.list-pro-item .p2 span,
.list-pro-item .p1 del,
.list-pro-item .p1 .price
{display:inline-block;}
.list-pro-item .p2 .sp1-1 {color:#999;}
.list-pro-item .te {position: absolute;right: 15px;top: 15px;width: 25px;height: 25px;line-height: 25px;text-align: center;color: #fff;font-size: 16px;background: red;font-style: normal;border-radius: 50%;}

/*-- container-item-list --*/
.container-item-list > .row{position:relative;-webkit-transition:.5s; transition:.5s;}
.container-item-list.in {overflow:hidden;}
.container-item-list.in > .row{transform: translateX(150px); -webkit-transform: translateX(150px);}
.sidenav {position:absolute;top:0; left:0; width:150px;  bottom:0; background:#fff; border-right:1px solid #ddd; min-height:408px; transform: translateX(-100%); -webkit-transform: translateX(-100%); }
.sidenav li {background:#fff;line-height:40px; height:40px; padding-left:15px; border-bottom:1px solid #ddd;}

/*-- container-my-address --*/
.my-address-item {padding:15px;border-bottom:1px solid #ddd; display:box;display: -webkit-box;display: -ms-flexbox;display: -moz-box;-webkit-box-align: center;-moz-box-align:center;box-align: center; width:100%; }

.my-address-item label {box-flex:1;-moz-box-flex:1;-webkit-box-flex:1; display:block;padding:0 10px; margin:0;}
.my-address-item .del {color:#337ab7;}
.container-my-address .sub-block {padding:15px;}

.my-address-item:last-child {border-bottom:0;}

.container-my-address-add {padding-top:15px; padding-bottom:15px;}
.container-my-address-add .form-control {margin-bottom:10px;}

/*-- container-my-card --*/
.my-card-item {padding:15px;border-bottom:1px solid #ddd; font-weight:bold;}
.my-card-item .price {color:#f60;font-weight:bold;}
.my-card-item .number {color:#337ab7;}

/*-- container-my-collect --*/
.container-my-collect {margin-bottom:45px;}
.list-pro-item .btn-open {position:absolute;background:#5cb85c; color:#fff; font-size:12px;display:inline;padding:3px;right:15px; top:15px;}

/*-- container-my-fans --*/
.container-my-fans .btn-sub {padding:15px;}

/*-- container-order-detail --*/
.container-order-detail tr td:first-child{padding-left:15px;}
.container-order-detail tr td .sp1{color:#f60;}
.container-order-detail .table .price {font-weight:bold;font-size:18px; text-align:right;}
.container-order-detail .table {margin-bottom:0;}

.container-order-detail .hd2 {font-size:16px; padding:10px 15px;border-top:1px solid #ddd;}
.list-order li{overflow:hidden; display:box;display: -webkit-box;display: -ms-flexbox;display: -moz-box;-webkit-box-align: center;-moz-box-align:center;box-align: center;width:100%;padding:10px 15px;border-top:1px solid #ddd; font-weight:bold; }

.list-order li .img {width:50px; height:50px; overflow:hidden;border-radius:5px;margin-right:10px;}
.list-order li .img img {display:block;width:100%;}
.list-order li .name {box-flex:1;-moz-box-flex:1;-webkit-box-flex:1;}
.list-order li .price {width:90px;padding:0 5px;}
.list-order li .count {width:70px; text-align:right;padding:0 5px;}
.list-order li .sp1 {color:#f60;}
.container-order-detail .sub-pingl {padding:15px; border-top:1px solid #ddd;}

/*-- container-order-list --*/
.container-order-list .table {text-align:center; margin-bottom:0;}
.container-order-list .table th{text-align:center;}
.container-order-list .table td:first-child {padding-left:15px;}
.container-order-list .table .price {color:#f60; font-weight:bold;}

/*-- settlement --*/
.bought-item {padding:0;}
.bought-item p {line-height:20px; border-bottom:1px solid #ddd; padding-left:15px; padding-top:6px; padding-bottom:6px; padding-right:15px;}
.container-settlement .title2 {padding:10px 15px; font-size:16px; } 
.container-settlement {margin-bottom:15px;}
.container-settlement-yh-ct {padding:10px 15px;border-top:1px solid #ddd;}
.container-settlement-col {padding:0 15px;border-top:1px solid #ddd;padding-top:10px;padding-bottom:10px;}
.container-settlement-col label {display:block;padding-top:5px;padding-bottom:5px;}
.container-settlement-col label input {margin-right:3px;vertical-align:top;}
.container-settlement-sub {padding-top:10px; padding-bottom:10px; margin-bottom:0;}

/*-- container-shopcar --*/
.container-shopcar .adresss {padding:10px 15px; border-bottom:1px solid #ddd;}
.container-shopcar .adresss .glyphicon {padding-top:10px;}
.time-box {padding:10px 15px; border-bottom:1px solid #ddd;}
.time-box .form-control {margin-top:10px; margin-bottom:10px;}
.time-box .btn-bk {text-align:right;}
.container-shopcar .list-pro-item .msg {padding-right:111px;}
.container-shopcar .count-ground {position: absolute;top: 52px;right: 15px;margin-top: -21px;}
.shop-car-footer {background:red;position:fixed;bottom:0;left:0;right:0; height: 52px; padding:10px 15px; box-sizing:border-box;}
.shop-car-footer p {font-weight:bold; color:yellow;line-height: 34px;}

/*-- container-show  --*/
.shop-detail-img {display:box;display: -webkit-box;display: -ms-flexbox;display: -moz-box;}
.shop-detail-img img{box-flex:1;-moz-box-flex:1;-webkit-box-flex:1;}
.shop-detail .container-header{margin-bottom:0;}
.shop-detail-item {padding:10px 15px;border-bottom:1px solid #ddd;}
.shop-detail-item .p1 {font-size:12px;padding:5px 0;}
.container-shop-detail  {margin-bottom:60px;}
.shop-detail-pj h2{font-weight:bold;font-size:14px; padding:10px 15px;}
.shop-detail-pj-item {border-bottom:0px solid #ddd;  padding-bottom:10px;}
.shop-detail-pj-item .hd {padding:10px 15px; }
.shop-detail-pj-item.first .hd{padding-top:0;}
.shop-detail-pj-item .hd img {margin-right:10px;}
.shop-detail-pj-item .form-control {height:auto;margin:0 15px; width:auto;}
.pos-fix-bottom {position:fixed;bottom:0;width:100%;}

/*-- shop-list --*/
.shop-list-ground > h3{font-size:16px; font-weight:bold;padding:10px 15px; padding-bottom:0;}
.container-shop-list {margin-bottom:50px;}

/*-- user-center --*/
.user-center-col-1 {display:box;display: -webkit-box;display: -ms-flexbox;display: -moz-box; padding:10px 15px;}
.user-center-col-1 .img {width:80px;} 
.user-center-col-1 .user-info {padding:5px 10px;font-weight:bold;}
.comp-data {text-align:right;}
.comp-data a {display:inline-block;background:#d9534f; color:#fff; border-radius:3px;padding:3px 5px; text-decoration:none;}
.user-center-item {}
.user-center-item a {display:block; text-decoration:none;padding:10px 15px;border-top:1px solid #ddd; }

/*-- info-modify-col-1 --*/
.info-modify-col-1 {text-align:center;padding:10px; position:relative; border-bottom:1px solid #ddd;}
#info-modify-photo {position:absolute;top:0;left:0;bottom:0;right:0;width:100%; outline:0;opacity:0;}
.info-modify-tel-sp1{display:block;text-align:right;box-flex:1;-moz-box-flex:1;-webkit-box-flex:1;}
.info-modify-item {padding:10px 15px; border-bottom:1px solid #ddd; display:box;display: -webkit-box;display: -ms-flexbox;display: -moz-box;}
.info-modify-item label {margin-bottom:0; width:73px; vertical-align:middle; line-height:34px;}
.info-modify-item .form-control {box-flex:1;-moz-box-flex:1;-webkit-box-flex:1;}
.info-modify-sub {padding:10px 15px;}
.info-modify-form-ground {border-bottom:0;}
.info-modify-form-val {display:box;display: -webkit-box;display: -ms-flexbox;display: -moz-box; border-bottom:0;}
.info-modify-form-val .form-control {box-flex:1;-moz-box-flex:1;-webkit-box-flex:1;}
.info-modify-form-val .btn {margin-left:10px;}

/*-- user-item-detail --*/
.user-item-detail-price{color:#f60; font-weight:bold;}
.user-item-detail .comhp-nav a{display:block;width:50%;}
.user-judge-item {padding:10px 15px;}
.user-judge-item span {vertical-align:middle;}
.star-block {vertical-align: middle;display: inline-block;height: 21px;}
.star-block .star{ background:url("../images/star-off.png") 0 0 no-repeat; width:16px; height:16px; display:inline-block; vertical-align:middle;}
.star-block .star.checked {background:url("../images/star-on.png") 0 0 no-repeat;}
body.user-judge .form-control-judge {height:100px;}

/*-- user-market --*/
.container-user-market {background: transparent; box-shadow:none; padding:0;}
.user-market-item {margin-bottom:5px;}
.user-market-item:nth-child(2n-1) {width:50%;box-sizing:border-box; padding-left:10px;padding-right:5px;}
.user-market-item:nth-child(2n) {width:50%;box-sizing:border-box; padding-left:5px;padding-right:10px;}

.user-market-item .img {position:relative;}
.user-market-item img {width:100%;}
.user-market-item a {text-decoration:none;}
.user-market-item .hd {padding-bottom:5px;padding-top:5px;}
.user-market-item .hd a{font-weight:bold; text-decoration:none;}
.user-market-item .price a{color:#f60; font-weight:bold;}
.user-market-item .agree {color: red;border: 1px solid;font-size: 270%;font-weight: 900;border-radius: 8px;position: absolute;-webkit-transform: rotate(-30deg);top: 28px;left: 50%;width: 128px;margin-left: -63px;}
.user-market-item-info {padding:5px; border:1px solid #ddd; border-radius:5px; background:#fff; box-shadow:0 0 10px #ddd;}
.user-market-row { box-sizing:border-box; margin:0;}

/*-- user-register --*/
.user-register-hd {background:#c9302c; color:#fff;padding:10px 15px;font-size:16px;line-height:1.8;}
.user-register-hd {margin-top:-15px; margin-bottom:15px;}
.user-register .form-ground {padding:10px 15px; margin:0;border-bottom:0;overflow:hidden}
.user-register .btn-getval {float: none;margin-top: 0;margin-left:10px;}

/*-- user-release --*/
.container-user-release .nav-tabs li {width: 50%;text-align: center}
.container-user-release {background: transparent;box-shadow: none;}
.container-user-release .name{display:block; font-weight:bold;}
.container-user-release .name img {border-radius:5px;}
.container-user-release .item-list-chl .img img{border-radius:5px;}
.container-user-release .time span{display: inline-block;padding: 0 10px;line-height: 21px; text-align:center;}

/*-- container-user-release-item --*/
.container-user-release-item .form-ground-oneline{display:box;display: -webkit-box;display: -ms-flexbox;display: -moz-box;width:100%; }
.container-user-release-item .form-ground-oneline .form-control {box-flex:1;-moz-box-flex:1;-webkit-box-flex:1; width:100%;}
.form-ground-oneline label {margin-top:6px;margin-right:5px;}

.addphonte{
  margin-left: -15px;
  margin-right: -15px;
  padding-top: 10px;
  overflow: hidden;
  display:none;
}
.addphonte-item{
  width: 60px;
  height: 60px;
  border: 1px solid #ddd;
  float: left;
  margin-left: 10px;
  margin-bottom: 10px;
  background:;
  overflow: hidden;
  position: relative;
}
.addphonte-item .del {
  font-style: normal;
  color: #fff;
  text-align: center;
  
}
.addphonte-item i{
  position: absolute;
  width: 20px;
  height: 20px;
  right: 0;
  top: 0;
  background: #ccc;
  z-index: 10px;
}
.addphonte-item img {
 width: 58px;
  height: 58px;
}
.addphonte-item-add {
  width: 60px;
  height: 60px;
  border: 1px solid #ddd;
  position: relative;
}
.addphonte-item-add:before {
  position: absolute;
  content: " ";
  width: 40px;
  top: 50%;
  left: 10px;
  background:#ddd;
  height: 2px;
}
.addphonte-item-add:after{
  position: absolute;
  content: " ";
  width: 2px;
  left: 29px;
  top: 10px;
  background:#ddd;
  height: 40px;
}

.comhp-person-bk {
  padding-left: 62px;
}
