a {color:#333;}
body {background:#efeff4;}
li {list-style-type:none;}
.display-box{display: -webkit-box;display: -ms-flexbox;display: -moz-box; width:100%;}
.box-flex {box-flex:1;-moz-box-flex:1;-webkit-box-flex:1; }

/*-- modal --*/
.modal.fade .modal-dialog {-webkit-transition: -webkit-transform .3s ease-out;-o-transition: -o-transform .3s ease-out;transition: transform .3s ease-out;-webkit-transform: scale(0.2);-ms-transform: scale(0.2);-o-transform: scale(0.2);transform: scale(0.2); }
.modal.in .modal-dialog {-webkit-transform: scale(1);-ms-transform: scale(1);-o-transform: scale(1);transform: scale(1);}

/*-- container-header  --*/
.container-header {background:#f7f7f8; height:50px; line-height:50px; border-bottom:1px solid #c8c7cc; margin-bottom:15px;}
.container-header .title1 {box-flex:1;-moz-box-flex:1;-webkit-box-flex:1; font-size:18px;  text-align:center; line-height:50px; font-weight:bold;}
.container-header .user img{width:30px; height:30px;}

/*-- form-ground --*/
.form-ground {background:#fff;border-bottom:1px solid #c8c7cc; margin-left:-15px; margin-right:-15px; padding:15px;position:relative;}
.file-phone .img{position:relative;width:117px; height:110px; margin:0 auto; margin-bottom:10px;}
#photo {position:absolute;width:100%;top:0; bottom:0;opacity:0;}
.file-phone .p1 {text-align:center;font-weight:bold;}
.file-phone .p1 .sp1 {font-weight:normal;font-size:12px;}
.form-ground .lb1{padding-top:6px;margin-right:10px;}
.form-ground-question textarea{height:80px;}
.container-ct {box-shadow:0 0 5px rgba(0, 0, 0, 0.14); background:#fff;}

/*-- container-call-seller --*/
.container-call-seller {}
.container-call-seller .p1 {padding:15px;border-bottom:1px solid #ddd;}
.list-tel li {line-height:48px;border-bottom:1px solid #ddd;padding-left:15px;padding-right:15px;}
.list-tel li .glyphicon {margin-right:5px;}

/*-- container-chl --*/
.container-chl {background: transparent;box-shadow:0 0 0px #A16534;}
.container-chl .tab-content {background:#fff; border:1px solid #ddd; border-top:0;}

.item-list-chl {background:#fff;border-bottom:1px solid #ddd;padding-left: 15px;padding-right: 15px;padding-top: 3px;padding-bottom: 3px;}
.item-list-chl > div {width:25%; line-height:42px; text-align:center;}
.item-list-chl .name {text-align:left;}
.item-list-chl .btn-group {top: -2px;}
.container-chl .nav-tabs li {width:50%; text-align:center;}
.container-chl .nav-tabs {padding-right:0;}
.container-chl .nav-tabs>li>a {margin-right:0;}

.item-list-chl .control {text-align:right;}

/*-- container-comhp --*/
.container-bannar {margin-top: -15px;}
.container-comhp {background: transparent; box-shadow:none;padding-bottom: 44px;}
.comhp-hd {padding-top:15px; font-size:16px; font-weight:bold; padding-bottom:15px; }
.item-comhp {background:#fff;box-shadow:0 0 5px rgba(0, 0, 0, 0.14); background:#fff; }
.item-comhp .user {padding-top:15px; position:relative; overflow:hidden;}
.item-comhp .name {margin-left: 63px;line-height: 2;}
.item-comhp .name .d1 {color:coral; font-weight:bold;}
.item-comhp .msg {font-size:12px;padding-top:10px;padding-bottom:10px;}
.item-comhp .name .zs .sp1,
.item-comhp .long .sp1,
.item-comhp .msg .sp1
{color:coral;}
.item-comhp .long {position:absolute;right:10px; top:15px;}
.item-comhp .img-ground{overflow:hidden;text-align: center;}
.item-comhp .img-ground img {display: inline-block;width: 45%;float: none;margin: 0 5px;}
.item-comhp .bar {padding-top:15px;padding-bottom:15px; }
.item-comhp .bar a{display:inline-block;width:33.33%; border:1px solid #ddd; text-align:center; font-size:12px; color:coral; text-decoration:none;border-left:0; padding-top:5px; padding-bottom:5px;}
.item-comhp .bar a:first-child {border-left:1px solid #ddd;}
.item-comhp .time {position: absolute;right: 10px;font-size: 12px;color: #999;top: 45px;}

.item-comhp-rp .rptxt{font-size:12px; padding-top:15px; padding-bottom:15px;}
.item-comhp-rp .name {padding-top:12px;}
.item-comhp-rp .del {position:absolute; top:15px; right:15px;}
.item-comhp-rp .rep-btn {text-align:right;}
.comhp-send-msg {position:fixed;bottom:0;padding-top:10px; background:#efeff4; padding-top:10px;   }

.modal-header .close {margin-top:-8px;}

/*-- container-comhp-detail --*/

.comhp-nav {overflow:hidden;position:fixed;bottom:0; left:0;right:0;width:100%;}
.comhp-nav a{width:25%;float:left;height:30px; line-height:30px; text-align:center; text-decoration:none;background:#fff;border-left:1px solid #ddd; color:coral;font-size:12px;border-top:1px solid #ddd;}
.comhp-nav a:first-child {margin-left:0;}

.modal-comhp .p1{margin-bottom:10px;}

