.community-help{
	border: 1px #CCCCCC solid;
	margin: 2%;
}
.community-help.user-image{
	position: relative;
	display: inline-block;
	float: left;
	border: 0;
}
.community-help.user-image img{
	border-radius: 100%;
	width: 57px;

}
.community-help.response-user-image{
	position: relative;
	display: inline-block;
	border: 0;
	word-wrap:break-word;
}
.community-help.response-user-image img{
	width: 30px;
	margin-bottom: 3px;
}
.community-help.user-info{
	position: relative;
	display: inline-block;
	border: 0;
}
.community-help.response-info{
	position: relative;
	display: inline-block;
	border: 0;
}
.community-help.help-info{
	border: 0;
	font-family: "微软雅黑";
	font-size: 95%;
}
table{
	width: 100%
}
th{
	font-size: 95%;
	padding: 1%;
	border-top: solid 1px #AAB5B7;
	border-right: solid 1px #AAB5B7;
	color: coral;
	text-align: center;
	width: 30%;
}
.release{
	position: fixed;
	bottom: 35px;
	right: 10px;
	float: right;
	right: 5px;
	color: white;
	text-align: center;
	border-radius: 100%;
	background-color:coral ;
	width: 50px;
	height: 50px;
}
.help-judge{
	border-radius: 5px;
	margin: 2%;
	padding: 2%;
	border: 1px solid #4BD963;
}
.help-judge-response{
	position: fixed;
	bottom: 0;
	padding: 1%;
	background-color: #EEEEEE;
	width: 100%;
}
.help-judge-response input{
	border-radius: 5px;
	width: 75%;
}
