.item img{
	width: 100%;  
}
.item-describe{
	padding: 2%;
	font-weight: bold;
	border-bottom: 1px solid #CCCCCC;
}
.item-describe span{
	float: right;
	color: red;
}
.item-function{
	background-color: red;
	padding: 0.5%;
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 38px;
	text-align: center;
}
.item-function th{
	width: 50%;
	text-align: center;
	font-size: 120%;
	padding: 2%;
	color: white;
}
.item-function a{
	color: white;
}
.item-describe-left{
	margin: 3%;
	position: relative;
	display: inline-block;
	word-break: break-all;
	width: 50%;
	font-weight: bold;
	font-size: 150%;
	color: orange;
	text-align: center;
	overflow: hidden;
}
.item-describe-right{
	position: relative;
	width: 38%;
	display: inline-block;
	border-left: 1px #CCCCCC solid;
	margin: 2%;
	padding: 2%;
	text-align: center;
	color: red;
	font-weight: bold;
	font-size: 120%;
	font-style: italic;
	
}
.item-describe-right img{
	width: 100px;
}