.user-info{
	border-bottom: #CCCCCC solid 1px;
	width: 100%;
	word-wrap: break-word;
	word-break: break-all;
	padding: 1%;
}
.user-info.text{
	position: relative;
	display: inline-block;
	border-bottom: 0;
	width: 80%;
}
.user-info.icon{
	position: relative;
	display: inline-block;
	padding: 0;
	border-bottom: 0;
	float: right;
	width:5%
}
.item-list.text.item-number{
	float: right;
	border: 1px solid;
}
.item-list.text.item-number input{
	text-align: center;
	width: 30px;
}
